!!!
%html
  %head
    %title= @pageTitle
    %script(src="/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8")
    %link(rel="stylesheet" type="text/css" href="/css/styles.css")
  %body
    #content
      =yield
